[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme.git
[submodule "themes/hugo-natrium-theme"]
	path = themes/hugo-natrium-theme
	url = https://github.com/mobybit/hugo-natrium-theme
