<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="dropdown">
          <a href="{{ .URL }}" class="dropdown-button">{{ .Name }}</a>
          <ul class="dropdown-content">
              {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
          </ul>
      </li>
      {{ else }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      {{ end }}
  </ul>
</nav>
