{{ $paginator := .Paginate (where .Site.RegularPages.ByPublishDate.Reverse  "Section" "post") 5 }}
{{ range $paginator.Pages }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </p>
{{ end }}
{{ template "_internal/pagination.html" . }}
