{{ partial "header.html" . }}

<main class="content">

    <h1 class="article-title">Innovative Digital Technologies for Research on Universe and Matter</h1>

    <div class="article-content">

        <p>
        Progress in fundamental research on universe and matter
        (<a href="https://www.bmbf.de/de/erforschung-von-universum-und-materie---das-rahmenprogramm-erum-4388.html">ErUM</a>)
        is made by studying structures at smaller and smaller scales. The high
        resolution of modern instruments in particle, hadron and nuclear, and
        astroparticle physics results in huge amounts of research data, at the order
        of millions of terabytes. And the next generation of experiments will
        increase the dataset sizes even more, exceeding the growth expected from
        advances in storage technologies.
        </p>

        <p>
        To address the challenge of increasing data rates and volumes
        <a href="partners">17 partners from universities and research centers</a>
        joined forces in the BMBF funded ErUM Data pilot project Innovative Digital
        Technologies for Research on Universe and Matter. Our aim is to exploit
        modern technologies for the development of experiment overarching solutions.
        In <a href="research-areas">four research areas</a> we develop and deploy
        components and systems for leveraging heterogeneous resources, investigate
        the potential of novel deep learning methods, and optimize algorithms that
        reconstruct the objects of interest from the raw data.
        </p>

        <h3> News </h3>
        {{ partial "post-list" . }}
    </div>

</main>

{{ partial "footer.html" . }}
